<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>882974843193-vnm411auk33idg6ltkc5mok4uf9so4m1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882974843193-vnm411auk33idg6ltkc5mok4uf9so4m1</string>
	<key>API_KEY</key>
	<string>AIzaSyDj3m1p8gCfX8LQTSaCpt0MvcvYaGeYFXM</string>
	<key>GCM_SENDER_ID</key>
	<string>882974843193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plantDiseaseDetection.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>plant-disease-detection-f924d</string>
	<key>STORAGE_BUCKET</key>
	<string>plant-disease-detection-f924d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882974843193:ios:45e99e88bcd173bbe548e8</string>
</dict>
</plist>